<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986364973775-rrtkfriurp2ggqmu8vd2c72gidtdh2jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986364973775-rrtkfriurp2ggqmu8vd2c72gidtdh2jg</string>
	<key>API_KEY</key>
	<string>AIzaSyChw1vLeT3CIhfcrrZQYL3U2gWVwZ9jZz8</string>
	<key>GCM_SENDER_ID</key>
	<string>986364973775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minka</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d8629</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d8629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986364973775:ios:74f6803e41204496035dba</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-d8629-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>